img {
  padding:20px;
}
img.profilepic {
  float: left
}

.vl {
  border-left: 3px solid grey;
  height: 2130px;
  position: absolute;
  left: 3%;
  margin-left: -3px;
}

.body {
  margin: 30;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
}