img {
  padding:20px;
}
img.profilepic {
  float: left
}

.title {
  margin-left: 25; 
}

.bar {
  margin-left: -23;
}

.bar {
  list-style: none;
}
.bar >li {
  position: relative;
}
.bar>li:before {
  content: '\25CF';
  margin-right: 10px;
  font-size: 20px;
}
.bar>li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border-left: 2px solid black;
  margin-left: 5px;
  height: 100%;
}
.bar >li:first-of-type:after {
  top: 2%;
}
.bar >li:last-of-type:after {
  top: -95%;
}