body {
  margin-left: 90;
  margin-right: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile {
  flex: 1;
  max-width: 45%;
  padding-top: 30px;
}

.skills {
  flex: 1.5;
  max-width: 100%;
  padding-left: 80px;
  padding-top: 40px;

  /* visual border doesn't look too nice. may come back to this
  border-left: 2px solid #ccc; 
  */
}

img {
  padding:40px;
  border-radius: 50%;
}
img.profilepic {
  float: left
}

.title {
  margin-left: 25; 
}

.bar {
  margin-left: -23;
}

.bar {
  list-style: none;
}
.bar >li {
  position: relative;
}
.bar>li:before {
  content: '\25CF';
  margin-right: 10px;
  font-size: 20px;
}
.bar>li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border-left: 2px solid black;
  margin-left: 5px;
  height: 100%;
}

/* controls length of bar - top piece */
.bar >li:first-of-type:after {
  top: 3%;
}
/* controls length of bar - bottom piece */
.bar >li:last-of-type:after {
  top: -94%;
}